.profile__edit-button {
    box-sizing: border-box;
    flex: 0 0 24px;
    margin: 0 0 0 16px;
    height: 24px;
    border: 1px solid #fff;
    background: url("../../../images/P.png") center / 50% no-repeat;
    cursor: pointer;
  }
  .profile__edit-button:hover {
    opacity: 1;
  }
  @media screen and (max-width: 714px) {
    .profile__edit-button {
      flex: 0 0 18px;
      height: 18px;
    }
  }