.photo__like {
    background-image: url(../../../images/Vector.png);
    height: 19px;
    width: 22px;
    padding: 0;
    border: none;
    background-color: white;
    margin: 5px 1px 0 0;
}
.photo__like:hover {
    color: white;
    opacity: 0.6;
    transition: 0.3s ease-in;
    cursor: pointer;
}
.photo__like:focus {
    background-image: url(../../../images/Union.png);
}