.profile__photo-edit {
    padding: 0;
    background-image: url(../../../images/profile__photo-edit.png);
    background-color: #000;
    border: none;
    width: 150px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    opacity: 1;
    transition: opacity 0.5s;
  }
.profile__photo-edit:hover {
    opacity: 0.6;
    cursor: pointer;
  }  
@media screen and (max-width: 700px){
    .profile__photo-edit {
      background-image: url(../../../images/profile__photo-edit1.svg);
      margin: 36px 19px;
      width: 282px;
      height: 50px;
    }
  }