.popup__close {
    background-image: url(../../../images/CloseIcon.svg);
    width: 32px;
    height: 32px;
    padding: 0;
    object-fit: cover;
    position: absolute;
    right: -38px;
    top: -38px;
    border: none;
}
@media screen and (max-width: 550px) {
    .popup__close {
        background-size: contain;
        width: 20px;
        height: 20px;
        min-height: 20px;
        min-width: 20px;
        right: 0;
        top: -38px;
    }
}
.popup__close:hover {
    fill: white;
    opacity: 0.6;
    transition: 0.3s ease-in;
    cursor: pointer;
}